.modal {
  width: clamp(40%, 400px, 90%);
  height: min(60%, 600px);

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: center;
  border-radius: 2%;
}

.bannerImg {
  position: absolute;
  top: auto;
  left: 35%;
  justify-self: flex-end;
  height: 200px;
  width: min(60%, 500px);
  user-select: none;
  z-index: -1;
}

.submitButton {
  background-color: orange;
  width: 8rem;
  margin-top: 2rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 5%;
  padding: 0;
  border: none;
  outline: none;
}

.submitButton:hover {
  transform: scale(1.1);
  transition-duration: 500ms;
  color: white;
}
