.app {
  text-align: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.header {
  height: 15%;
  display: flex;
  justify-content: flex-start;
}

.header img {
  position: absolute;
  margin: 2rem;
  width: 125px;
  height: auto;
  transition: all .3s ease-in-out;
}

.header img:hover {
  transform: scale(1.1);
}
