.GymSlider {
  width: 100%;
  height: 60%;
  margin-top: 10%;
  margin-left: -2rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.gym {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gymNav {
  width: 70%;
  display: flex;
  justify-content: center;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

.activeDot {
  height: 20px;
  width: 20px;
  background-color: orange;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5rem;
}

.gym img {
  max-width: 100%;
}