.sport {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sport article {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-right: 20%;
}

.description {
  text-align: justify;
  line-height: 2.5rem;
  margin-top: -2rem;
}

.sportImg {
  position: absolute;
  width: 45%;
  z-index: -1;
}
